.animation {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.weapon-cosmetic-applied-1{
  filter: grayscale(100%);
}

.weapon-cosmetic-applied-2{
  filter: contrast(200%);
}

.weapon-cosmetic-applied-3{
  filter: sepia(100%);
}

.weapon-cosmetic-applied-4{
  filter: invert(100%);
}

.weapon-cosmetic-applied-5{
  filter: blur(1px);
}

.weapon-cosmetic-applied-6{
  animation: dropglow-fire 500ms ease-out infinite alternate;
}

.weapon-cosmetic-applied-7{
  animation: dropglow-earth 1000ms ease-out infinite alternate;
}

.weapon-cosmetic-applied-8{
  animation: dropglow-lightning 1000ms ease-out infinite alternate;
}

.weapon-cosmetic-applied-9{
  animation: dropglow-water 1000ms ease-out infinite alternate;
}

.weapon-cosmetic-applied-10{
  animation: dropglow-rainbow 3000ms ease-out infinite alternate;
}

.weapon-cosmetic-applied-11{
  animation: droprotateglow 1000ms ease-in-out infinite alternate;
}

.weapon-cosmetic-applied-12{
  animation: ghost-item 1000ms ease-in-out infinite alternate;
}

.weapon-animation-applied-13{
  width: 0;
  height: 0;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  animation: backglow 500ms ease-out infinite alternate;
  transform: scale(4);
}

.weapon-animation-applied-14{
  animation: nebula3 1000ms ease-in infinite;
}

.weapon-animation-applied-15{
  animation: nebula4 1000ms ease-in infinite;
}

.weapon-animation-applied-16{
  border: 2.5px solid #b9f2ff;
}

.weapon-animation-applied-17{
  border: 2.5px solid gold;
}

.weapon-animation-applied-18{
  border: 2.5px solid silver;
}

.weapon-animation-applied-19{
  border: 2.5px solid #CD7F32;
}

@keyframes glow-1 {
  0% {
    box-shadow: inset 0 0 10px rgba(0, 162, 255, 0.5);
  }
  100% {
    box-shadow: inset 0 0 15px rgba(0, 162, 255, 0.5);
  }
}

@keyframes glow-2 {
  0% {
    box-shadow: inset 0 0 10px rgba(125, 0, 125, 0.5);
  }
  100% {
    box-shadow: inset 0 0 20px rgba(125, 0, 125, 0.5);
  }
}

@keyframes glow-3 {
  0% {
    box-shadow: inset 0 0 10px rgba(255, 102, 0, 0.3);
  }
  100% {
    box-shadow: inset 0 0 25px rgba(255, 102, 0, 0.3);
  }
}

@keyframes glow-4 {
  0% {
    box-shadow: inset 0 0 10px rgba(125, 0, 0, 0.5);
  }
  100% {
    box-shadow: inset 0 0 30px rgba(125, 0, 0, 0.5);
  }
}

@keyframes dropglow-fire {
  0% {
    filter: drop-shadow(0 0 10px crimson);
  }
  100% {
    filter: drop-shadow(0 0 25px crimson);
  }
}

@keyframes dropglow-earth {
  0% {
    filter: drop-shadow(0 0 10px green);
  }
  100% {
    filter: drop-shadow(0 0 25px green);
  }
}

@keyframes dropglow-lightning {
  0% {
    filter: drop-shadow(0 0 10px yellow);
  }
  100% {
    filter: drop-shadow(0 0 25px yellow);
  }
}

@keyframes dropglow-water {
  0% {
    filter: drop-shadow(0 0 10px aqua);
  }
  100% {
    filter: drop-shadow(0 0 25px aqua);
  }
}

@keyframes dropglow-rainbow {
  0% {
    filter: drop-shadow(0 0 10px aqua);
  }
  33% {
    filter: drop-shadow(0 0 10px yellow);
  }
  66% {
    filter: drop-shadow(0 0 10px green);
  }
  100% {
    filter: drop-shadow(0 0 25px crimson);
  }
}

@keyframes droprotateglow {
  0% {
    filter: drop-shadow(0 0 0.5rem navy);
  }
  100% {
    filter: drop-shadow(0 0 1rem navy);
  }
}

@keyframes backglow {
  0% {
    filter: drop-shadow(0 0 0.5rem navy);
  }
  100% {
    filter: drop-shadow(0 0 1rem navy);
  }
}

@keyframes backglow {
  0% {
    box-shadow: 0 0 10px 10px rgba(255, 0, 0, 0.15);
  }
  50% {
    box-shadow: 0 0 7.5px 15px rgba(200, 0, 200, 0.3);
  }
  100% {
    box-shadow: 0 0 5px 20px rgba(0, 0, 255, 0.45);
  }
}

@keyframes circle {
  0% {
    transform: rotate(360deg);
    background: radial-gradient(circle at 8px 32px, #5cabff, #000);
  }
  50% {
    transform: rotate(180deg);
    background: radial-gradient(circle at 16px 32px, #5cabff, #000);
  }
  100% {
    transform: rotate(0deg);
    background: radial-gradient(circle at 8px 32px, #5cabff, #000);
  }
}

@keyframes ghost-item {
  0% {
    filter: opacity(85%) drop-shadow(0 0 0.5rem navy);
  }
  100% {
    filter: opacity(50%) drop-shadow(0 0 1rem navy);
  }
}

@keyframes star-item {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes nebula {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes nebula2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes nebula3 {
  0% {
    box-shadow:
      inset 0 0 12px #fff,      /* inner white */
      inset 3px 0 15px #f0f,   /* inner left magenta short */
      inset -3px 0 15px #0ff,  /* inner right cyan short */
      inset 3px 0 25px #f0f,  /* inner left magenta broad */
      inset -3px 0 25px #0ff, /* inner right cyan broad */
      0 0 12px #fff,            /* outer white */
      -2px 0 20px #f0f,        /* outer left magenta */
      2px 0 20px #0ff;         /* outer right cyan */
  }
  50% {
    box-shadow:
      inset 0 0 6px #fff,      /* inner white */
      inset 2px 0 10px #f0f,   /* inner left magenta short */
      inset -2px 0 10px #0ff,  /* inner right cyan short */
      inset 2px 0 25px #f0f,   /* inner left magenta broad */
      inset -2px 0 25px #0ff,  /* inner right cyan broad */
      0 0 6px #fff,            /* outer white */
      -2px 0 10px #f0f,        /* outer left magenta */
      2px 0 10px #0ff;         /* outer right cyan */
  }
  100% {
    box-shadow:
      inset 0 0 12px #fff,      /* inner white */
      inset 3px 0 15px #f0f,   /* inner left magenta short */
      inset -3px 0 15px #0ff,  /* inner right cyan short */
      inset 3px 0 25px #f0f,  /* inner left magenta broad */
      inset -3px 0 25px #0ff, /* inner right cyan broad */
      0 0 12px #fff,            /* outer white */
      -2px 0 20px #f0f,        /* outer left magenta */
      2px 0 20px #0ff;         /* outer right cyan */
  }
}

@keyframes nebula4 {
  0% {
    transform: rotate(0deg);
    box-shadow:
      inset 0 0 12px #fff,      /* inner white */
      inset 5px 0 20px #f0f,   /* inner left magenta short */
      inset -5px 0 20px #0ff,  /* inner right cyan short */
      inset 5px 0 30px #f0f,  /* inner left magenta broad */
      inset -5px 0 30px #0ff, /* inner right cyan broad */
      0 0 12px #fff,            /* outer white */
      -2px 0 20px #f0f,        /* outer left magenta */
      2px 0 20px #0ff;         /* outer right cyan */
  }
  50% {
    transform: rotate(180deg);
    box-shadow:
      inset 0 0 6px #fff,      /* inner white */
      inset 2px 0 10px #f0f,   /* inner left magenta short */
      inset -2px 0 10px #0ff,  /* inner right cyan short */
      inset 2px 0 25px #f0f,   /* inner left magenta broad */
      inset -2px 0 25px #0ff,  /* inner right cyan broad */
      0 0 6px #fff,            /* outer white */
      -2px 0 10px #f0f,        /* outer left magenta */
      2px 0 10px #0ff;         /* outer right cyan */
  }
  100% {
    transform: rotate(360deg);
    box-shadow:
      inset 0 0 12px #fff,      /* inner white */
      inset 5px 0 20px #f0f,   /* inner left magenta short */
      inset -5px 0 20px #0ff,  /* inner right cyan short */
      inset 5px 0 30px #f0f,  /* inner left magenta broad */
      inset -5px 0 30px #0ff, /* inner right cyan broad */
      0 0 12px #fff,            /* outer white */
      -2px 0 20px #f0f,        /* outer left magenta */
      2px 0 20px #0ff;         /* outer right cyan */
  }
}

@keyframes nebula5 {
  0% {
    box-shadow:
      inset 0 0 12px #fff,      /* inner white */
      inset 5px 0 20px #aaa,   /* inner left magenta short */
      inset -5px 0 20px #ccc,  /* inner right cyan short */
      inset 5px 0 75px #666,  /* inner left magenta broad */
      inset -5px 0 75px #000; /* inner right cyan broad */
  }
  50% {
    box-shadow:
      inset 0 0 6px #fff,      /* inner white */
      inset 2px 0 10px #aaa,   /* inner left magenta short */
      inset -2px 0 10px #ccc,  /* inner right cyan short */
      inset 2px 0 50px #666,   /* inner left magenta broad */
      inset -2px 0 50px #000;  /* inner right cyan broad */
  }
  100% {
    box-shadow:
      inset 0 0 12px #fff,      /* inner white */
      inset 5px 0 20px #aaa,   /* inner left magenta short */
      inset -5px 0 20px #ccc,  /* inner right cyan short */
      inset 5px 0 75px #666,  /* inner left magenta broad */
      inset -5px 0 75px #000; /* inner right cyan broad */
  }
}