$primary: #EDCD90;
$body-color: #ffffff;
$info:    #1168D0;
$gray-100: #f6f6f6;
$text-muted: #B3B9C7;
$gray-300: #676E79;
$gray-900: #273849;
$dark: #000E29;
$body: #000E29;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

